* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.base {
    background-color: hsl(217, 54%, 11%);
}

.background {
    height: 85%;
    width: 23%;
    background-color: hsl(216, 50%, 16%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    border-radius: 1rem;
}

.background .container {
    padding: 1.3rem 1.3rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.background .container .main-img {
    width: 100%;
    height: 55%;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}

.background .container .title {
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    margin-bottom: 1.5rem;
}

.background .container .description {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.background .container .promotion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    color: hsl(178, 100%, 50%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.background .container .promotion .money svg {
    margin-bottom: -.2rem;
    margin-right: .5rem;
}

.background .container .promotion .time {
    color: hsl(215, 51%, 70%);
    margin-bottom: -.2rem;
}

.background .container .promotion .time svg {
    margin-bottom: -.1rem;
    margin-right: .3rem;
}

hr {
    margin-bottom: 1.3rem;
    color: hsl(215, 51%, 70%);
}

.down .division {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1.3rem;
}

.down .division .footer-img {
    border: .1rem solid  hsl(215, 51%, 70%);
    width: 2.5rem;
    border-radius: 2rem;
    
}

.down .division .description {
    margin-top: 1rem;
    margin-right: 4.5rem;
    font-size: 1rem;
    margin-top: 1.3rem;
}

.down .division .description span {
    color: hsl(0, 0%, 100%);
}